@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner{
    position: absolute;
    z-index: 11;
    left: 0;
    right: 0;
    display: flex;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: #00000052;
  }